body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffdde1; /* Romantic pink background */
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

.container {
  text-align: center;
}

.header_text {
  font-size: 50px;
  font-weight: bold;
  color: #ff6f61; /* Romantic red */
  margin-bottom: 20px;
}

.gif_container img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  .header_text {
    font-size: 30px;
  }
}
